$first-section-background: black;
$second-section-background: rgb(44, 44, 44);
$third-section-background: rgb(59, 59, 59);

%section {
    height: 100vh;
}

.firstSection {
    @extend %section;
    height: 95vh;
    background-color: $first-section-background;

    padding: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

    :global(.particles-js-canvas-el) {
        position: absolute;
        top: 0;
    }
}

.logoContainer {
    width: 100%;
    flex: 1;
    max-height: 50vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    flex: 1;
    min-height: 0;

    position: relative;
    padding-bottom: 1rem;
    max-height: 100%;

    display: flex;
    justify-content: center;

    > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

.elektroniczni {
    flex: 1;
    min-height: 0;

    padding: 2rem 0;
    max-height: 100%;

    display: flex;
    justify-content: center;

    > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

// .firstSecondSectionGradient {
//     height: 250px;
//     background: rgb(0,0,0);
//     background: linear-gradient(180deg, $first-section-background 0%, $first-section-background 0%, $second-section-background 100%);
// }

.secondSection {
    @extend %section;
    background-color: $second-section-background;
}

.thirdSection {
    @extend %section;
    background-color: $third-section-background;

}
