$first-section-background: black;
$second-section-background: #0d0d0d;
$third-section-background: #0d0d0d;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@300;400&family=Montserrat:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

%section {
    height: 100vh;
    padding: 4rem;

    @media only screen and (max-width: 992px) {
        padding: 1rem;
    }
}

.firstSection {
    @extend %section;
    height: 95vh;
    background-color: $first-section-background;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

    @media only screen and (max-width: 992px) {
        padding: 4rem 2rem;
    }
}

.particlesContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    :global(.particles-js-canvas-el) {
        position: absolute;
        top: 0;
    }

    pointer-events: none;
}


.logoContainer {
    width: 100%;
    flex: 1;
    max-height: 50vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    flex: 1;
    min-height: 0;

    position: relative;
    padding-bottom: 1rem;
    max-height: 100%;

    display: flex;
    justify-content: center;

    > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

.elektroniczni {
    background: url(images/elektroniczni.png) no-repeat center;
    background-size: contain;
    flex: 1;
    min-height: 0;

    padding: 2rem 0;
    max-height: 100%;
    width: 100%;
    max-width: 900px;

    display: flex;
    justify-content: center;

    > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

.secondSection {
    @extend %section;
    height: auto;
    background-color: $second-section-background;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    //.youtubeContainer {
    //    height: 50vh;
    //
    //    iframe {
    //        width: 100%;
    //        height: 100%;
    //    }
    //}
}

%secondSection__container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    max-width: 600px;
}

.secondSection__background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/people.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}

.secondSection__content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.secondSection__text {
    @extend %secondSection__container;

    z-index: 1;

    font-size: 1.2rem;

    @media only screen and (max-width: 992px) {
        font-size: 1rem;
    }

    line-height: 1.8;
    font-weight: 100;
    font-family: 'Lato', sans-serif;

    h1 {
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
        font-weight: 200;
    }
}

.thirdSection {
    @extend %section;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $third-section-background;
    overflow: hidden;
}

.thirdSection__logo {
    background: url(images/logo.png) no-repeat 50%;
    background-size: contain;
    opacity: 0.05;
    position: absolute;

    left: 0;
    width: 100%;
    height: 90vh;

    pointer-events: none;
}

.soundcloud {
    @extend %secondSection__container;

    z-index: 1;
    flex: 1;
    flex-basis: auto;
    max-width: 600px;
    min-height: 400px;
}

.thirdSection__socials {
    font-size: 4rem;

    @media only screen and (max-width: 992px) {
        font-size: 2.5rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    > a {
        flex: 1;

        cursor: pointer;
        display: flex;
        align-content: center;
        justify-content: center;

        padding: 5rem 0;

        color: white;
    }

    > a:hover {
        color: #7a7a7a;
        transition: color 0.10s;
    }

    > svg {
        max-height: 1em;
    }
}

.countdown {
    text-transform: uppercase;
    text-align: center;

    font-family: 'Lato', sans-serif;

    h3 {
        font-weight: 100;
    }

    h1 {
        font-family: 'Inconsolata', monospace;
        margin-bottom: 0;
    }
}
